@font-face {
	font-family:'DINPro';
    src:url(fonts/DINPro.woff) format('woff');
}
@font-face {
    font-family:'DINProB';
    font-style:bolder;
    src:url(fonts/DINPro-Black.woff) format('woff');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	width: 1440px;
	font-family: 'DINPro';
 }
.head {
	
	padding-top: 165px;
	width: 100%;
	height: 480px;
	background-color: #fff;
}
.head__title {
	text-align: center;
	font-size: 48px;
	line-height: 54px;
	
}
.head__text {
	margin-top: 24px;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
}
.orange_text {
	display: inline;
	font-size: 16px;
	color: #F47821;
}
.form-button {
	text-align: center;
}
.form-button__icon {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #F9F9F9;
	transition: width 0.5s linear;
}
.form-button__text:hover .form-button__icon {
	width: 230px;
	transition: width 0.5s linear;
}
.cross {
	position: relative;
	width: 14px;
	height: 14px;
}
.horizontal-line {
	position: absolute;
	top: 19px;
	left: 13px;
	width: 14px;
	height: 2px;
	background-color: #F47821;
}
.vertical-line {
	position: absolute;
	top: 13px;
	left: 19px;
	width: 2px;
	height: 14px;
	background-color: #F47821;
}
.form-button__text {
	position: relative;
	margin: 0 auto;
	width: 200px;
	font-size: 16px;
	font-family:'DINProB';
	margin-top: 30px;
}
.form-button__link {
	text-decoration: none;
	font-weight: bold;
	left: 20px;
	top: 11px;
	width: 200px;
	position: absolute;
	color: black;
}
.main__top {
	background-image: url("image-main-top.png");
	background-size: 100%;
	background-position: center;
	height: 600px;
	width: 100%;
}
.rectangle {
	position: relative;
	height: 445px;
	background-color: #F7F5FA;
}
.slogan-block {
	font-size: 0;
	position: absolute;
	top: -80px;
	left: 234px;
	width: 972px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.slogan {
	
	display: inline-block;
	background-color: #FFFFFF;
	width: 486px;
	height: 232px;
	border: 1px solid #EDEDED;
	padding-top: 50px;
	padding-left: 60px;
}
.slogan__title {
	color: #F47821;
	font-size: 12px;
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
.slogan__text {
	margin-top: 12px;
	color: black;
	font-size: 24px;
	line-height: 30px;
}
.description {
	
	background-color: white;
	height: 737px;
	padding-top: 80px;
	padding-left: 334px;
	padding-right: 355px
}
p {
	margin-top: 1em;
	font-size: 16px;
	line-height: 26px;
}
.description__title {
	font-size: 48px;
	line-height: 60px;
}
.advantages {
	padding: 120px 166px 160px 135px;
	height: 654px;
	background-color: #F7F5FA;
}
.advantages__headerline {
	text-align: center;
	font-size: 40px;
	line-height: 50px;
}
.advantages__item {
	margin-top: 60px;
	display: inline-block;
	width: 326px;
	margin-right: 4%;
}
.advantages__title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
}

.rectangle-2 {
	width: 24px;
	height: 2px;
	background-color: #F47821;
	margin-bottom: 27px;
	margin-top: 22px;
}
.form {
	background-color: black;
	height: 1130px;
}
.input-container {
	margin-top: 60px;
	padding-left: 341px;
	padding-right: 432px;
}
.form__headerline {
	padding-top: 100px;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 52px;
}
label {
	display: inline-block;
	color: white;
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	margin-top: 1em;
}
.label-icon {

	display: inline-block;
	width: 64px;
	height: 64px;
	border: 1px solid rgba(255, 255, 2551, 0.23);
	border-radius: 32px;
	margin-bottom: -26px;
	margin-right: 28px;
	color: orange;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	line-height: 23px;
	font-weight: bold;
	float: left;

}
input {
	margin-left: 93px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 2551, 0.23);
	background-color: black;
	padding-bottom: 12px;
	padding-top: 24px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 24px;
	line-height: 35px;
	width: 575px;
	text-overflow: ellipsis;
	color: white;
}

.interesting {
	margin-left: 6em;
	margin-top: -1em;
}
.button {
	background-color: white;
	width: 574px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
	height: 54px;
	border-radius: 111px;
	margin-left: 433px;
	margin-top: 60px;
	text-transform: uppercase;
	color: #F47821;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.error {
  color: red;
  margin-left: 5px;
}
 
label.error {
  display: inline;
}